/**
* -----------------------
*	Copyright @ 2018
* 	Rabin Bhandari
* -----------------------
 */

/* 
  * --------------------------
  *	Variables
  * --------------------------
 */

$font-family:'Roboto Condensed', sans-serif;
$color: #149DE1;
$padding: 40px 40px 0 40px;
$paddingMobile: 20px 20px 0 20px;

* {
  box-sizing: border-box;
}

a,
p,
ul,
li,
table,
th,
td,
h1,
h2,
h3,
h4,
h5,
main,
footer,
form,
span,
section {
  font-family: $font-family;
}

body,
p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* --------------------------- 
* 	Profile Framework 
----------------------------- */

@import "responsive";

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

  &.space-between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.align-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  &.even-space {
    justify-content: space-evenly;
  }

  &.flex-start {
    justify-content: flex-start;
  }

  &.flex-end {
    justify-content: flex-end;
  }

  .col {
    flex: 1;

      &.col-3 {
        @include desktop() {
          flex: 1.5;
        }
      }

    &-full {
      @media screen and (max-width: 450px) and (orientation: portrait) {
        flex: 100%;
      }
    }
  }

  .flex-100 {
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    width: 20%; /* For old syntax, otherwise collapses. */
    -webkit-flex: 100%; /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 100%; /* IE 10 */
    flex: 100%; /* NEW, Spec - Firefox, Chrome, Opera */
  }
}

@mixin transition($values...) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -ms-transition: $values;
  -o-transition: $values;
  transition: $values;
}

@mixin transform($values...) {
  -webkit-transform: $values;
  -moz-transform: $values;
  -ms-transform: $values;
  -o-transform: $values;
  transform: $values;
}

@mixin boxShadow($values...) {
  -webkit-box-shadow: $values;
  -moz-box-shadow: $values;
  -ms-box-shadow: $values;
  -o-box-shadow: $values;
  box-shadow: $values;
}

body {
  .hidden {
    display: none !important;
  }

  .max-height-full {
    max-height: 100%;
  }

  .text-center {
    text-align: center;
  }
}

html {
  /* Scroll Bar */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #149DE1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 85, 73, 0.51);
  }

  .no-overflow {
    overflow: initial !important;
  }

  .o-h {
    overflow: hidden !important;
  }

}

/*
  ----------------
  Theme SCSS
  @version 1.0
  ---------------
*/

.rb-theme-1 {
  margin: 0;
  position: relative;
  background-color: #18191D;

  /* Utility */

  /* Hover Effect */
  @keyframes hoverBorder {
    0% {
      width: 18%;
    }

    25% {
      width: 36%;
    }

    50% {
      width: 54%;
    }

    75% {
      width: 72%;
    }

    100% {
      width: 90%;
    }
  }

  @-webkit-keyframes hoverBorder {
    0% {
      width: 18%;
    }

    25% {
      width: 36%;
    }

    50% {
      width: 54%;
    }

    75% {
      width: 72%;
    }

    100% {
      width: 90%;
    }
  }

  @-moz-keyframes hoverBorder {
    0% {
      width: 18%;
    }

    25% {
      width: 36%;
    }

    50% {
      width: 54%;
    }

    75% {
      width: 72%;
    }

    100% {
      width: 90%;
    }
  }

  .hover {
    position: relative;
    @include transition(color 0.4s);

    &:hover {
      color: #ff6348 !important;

      &:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid #ff6348;
        z-index: 999;
        top: 48%;
        height: 1px;
        width: 0%;
        left: 5%;
        -webkit-animation: hoverBorder 0.4s linear;
        animation: hoverBorder 0.4s linear;
      }
    }
  }

  .page-header {
    color: $color;
    font: {
      size: 80px;
      weight: 400;
    }

    @include mobile() {
      font: {
        size: 30px;
        weight: bold;
      }
    }

    @include desktop() {
      margin-top: 0 !important;
    }
  }

  .page-sub-header {
    font: {
      size: 14px;
      weight: normal;
    }
    color: $color;
  }

  /*
   Form elements
 */

  input:not(.blog-input), textarea:not(.blog-textarea) {
    border: 1px solid $color;
    padding: 15px;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 55px;
    display: inline-block;
    color: $color;
    font-family: inherit;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  /*
    Animated Button
  */
  .group {
    position:relative;

    &:last-of-type {
      margin-left: 40px;

      @include mobile() {
        margin-left: 20px;
        width: 100%;
        flex: 100%;
      }
    }

    label {
      color: $color;
      font-size:16px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:15px;
      top:19px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }

    input {
      width: 100%;
      @include mobile() {
        flex: 100%;
      }

      &:focus ~ label, &:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #149DE1;
        left: 15px;
        opacity: 0.7;
      }
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }

  button:not(.blog-button) {
    font: {
      size: 16px;
      family: $font-family;
      weight: normal;
    }
    color: $color;
    background-color: transparent;
    padding: 15px;
    border: 1px solid $color;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    min-width: 140px;
  }

  svg {
    //width: 16px;
    display: inline-block;
    vertical-align: text-bottom;

    &.has-margin {
      margin-right: 3px;
    }
  }

  /*
     /////////////////
      Header
     ////////////////
   */
  @import "includes/header";

  main.container {
    margin-top: 30px;
    max-width: 100%;

    @include mobile() {
      margin-top: 20px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  /*
    /////////////////
      Page Loader
    ////////////////
  */
  @import "includes/pageloader";

  /*
    /////////////////
      Home Page
    ////////////////
  */
  @import "includes/home";

  /*
    /////////////////
      About Page
    ////////////////
  */
  @import "includes/about";

  /*
    /////////////////
      Project Page
    ////////////////
  */
  @import "includes/project";

  /*
    /////////////////
      Contact Page
    ////////////////
  */
  @import "includes/contactHire";

  /*
   /////////////////
     Blog Page
   ////////////////
 */
  @import "includes/lightBox";
  @import "includes/blog";

  /*
   /////////////////
     Blog Page
   ////////////////
 */
  @import "includes/footer";
}

@supports not (flex-wrap: wrap) {
  display: inline-block;
}
