/**
* -----------------------
*	Copyright @ 2018
* 	Rabin Bhandari
* -----------------------
 */
/* 
  * --------------------------
  *	Variables
  * --------------------------
 */
* {
  box-sizing: border-box; }

a,
p,
ul,
li,
table,
th,
td,
h1,
h2,
h3,
h4,
h5,
main,
footer,
form,
span {
  font-family: "Roboto Condensed", sans-serif; }

body,
p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

/* --------------------------- 
* 	Profile Framework 
----------------------------- */
.row, .rb-theme-1 .blog-container .featured-blog .blog article {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  .row.space-between, .rb-theme-1 .blog-container .featured-blog .blog article.space-between {
    justify-content: space-between; }
  .row.center, .rb-theme-1 .blog-container .featured-blog .blog article.center {
    justify-content: center; }
  .row.align-center, .rb-theme-1 .blog-container .featured-blog .blog article.align-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .row.even-space, .rb-theme-1 .blog-container .featured-blog .blog article.even-space {
    justify-content: space-evenly; }
  .row.flex-start, .rb-theme-1 .blog-container .featured-blog .blog article.flex-start {
    justify-content: flex-start; }
  .row.flex-end, .rb-theme-1 .blog-container .featured-blog .blog article.flex-end {
    justify-content: flex-end; }
  .row .col, .rb-theme-1 .blog-container .featured-blog .blog article .col {
    flex: 1; }
    @media screen and (max-width: 450px) and (orientation: portrait) {
      .row .col-full, .rb-theme-1 .blog-container .featured-blog .blog article .col-full {
        flex: 100%; } }
  .row .flex-100, .rb-theme-1 .blog-container .featured-blog .blog article .flex-100 {
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    width: 20%;
    /* For old syntax, otherwise collapses. */
    -webkit-flex: 100%;
    /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 100%;
    /* IE 10 */
    flex: 100%;
    /* NEW, Spec - Firefox, Chrome, Opera */ }

body .hidden {
  display: none !important; }
body .max-height-full {
  max-height: 100%; }
body .text-center {
  text-align: center; }

html {
  /* Scroll Bar */ }
  html ::-webkit-scrollbar {
    width: 6px; }
  html ::-webkit-scrollbar-thumb {
    background: #149DE1; }
  html ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 85, 73, 0.51); }

/*
  ----------------
  Theme SCSS
  @version 1.0
  ---------------
*/
.rb-theme-1 {
  margin: 0;
  position: relative;
  background-color: #18191D;
  /* Utility */
  /* Hover Effect */
  /*
    Form elements
  */
  /*
    Animated Button
  */
  /*
     /////////////////
      Header
     ////////////////
   */
  /* Progress Bar */
  /*
    /////////////////
      Page Loader
    ////////////////
  */
  /*
    /////////////////
      Home Page
    ////////////////
  */
  /*
    /////////////////
      About Page
    ////////////////
  */
  /*
    /////////////////
      Project Page
    ////////////////
  */
  /*
    /////////////////
      Contact Page
    ////////////////
  */
 /*
  /////////////////
    Blog Page
  ////////////////
*/
 /*
  /////////////////
    Blog Page
  ////////////////
*/ }
@keyframes hoverBorder {
  0% {
    width: 18%; }
  25% {
    width: 36%; }
  50% {
    width: 54%; }
  75% {
    width: 72%; }
  100% {
    width: 90%; } }
@-webkit-keyframes hoverBorder {
  0% {
    width: 18%; }
  25% {
    width: 36%; }
  50% {
    width: 54%; }
  75% {
    width: 72%; }
  100% {
    width: 90%; } }
@-moz-keyframes hoverBorder {
  0% {
    width: 18%; }
  25% {
    width: 36%; }
  50% {
    width: 54%; }
  75% {
    width: 72%; }
  100% {
    width: 90%; } }
  .rb-theme-1 .hover {
    position: relative;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s; }
    .rb-theme-1 .hover:hover {
      color: #ff6348 !important; }
      .rb-theme-1 .hover:hover:after {
        content: '';
        position: absolute;
        border-bottom: 1px solid #ff6348;
        z-index: 999;
        top: 48%;
        height: 1px;
        width: 0%;
        left: 5%;
        -webkit-animation: hoverBorder 0.4s linear;
        animation: hoverBorder 0.4s linear; }
  .rb-theme-1 .page-header {
    color: #149DE1;
    font-size: 80px;
    font-weight: 400; }
  .rb-theme-1 .page-sub-header {
    font-size: 14px;
    font-weight: normal;
    color: #149DE1; }
  .rb-theme-1 .no-overflow {
    overflow: initial !important; }
  .rb-theme-1 input:not(.blog-input), .rb-theme-1 textarea:not(.blog-textarea) {
    border: 1px solid #149DE1;
    padding: 15px;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 55px;
    display: inline-block;
    color: #149DE1;
    font-family: inherit;
    font-size: 16px; }
    .rb-theme-1 input:not(.blog-input):focus, .rb-theme-1 textarea:not(.blog-textarea):focus {
      outline: none; }
  .rb-theme-1 .group {
    position: relative; }
    .rb-theme-1 .group:last-of-type {
      margin-left: 40px; }
    .rb-theme-1 .group label {
      color: #149DE1;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 15px;
      top: 19px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all; }
    .rb-theme-1 .group input {
      width: 100%; }
      .rb-theme-1 .group input:focus ~ label, .rb-theme-1 .group input:valid ~ label {
        top: -20px;
        font-size: 14px;
        color: #149DE1;
        left: 15px; }
  .rb-theme-1 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #149DE1; }
  .rb-theme-1 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #149DE1; }
  .rb-theme-1 :-ms-input-placeholder {
    /* IE 10+ */
    color: #149DE1; }
  .rb-theme-1 :-moz-placeholder {
    /* Firefox 18- */
    color: #149DE1; }
  .rb-theme-1 button:not(.blog-button) {
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    color: #149DE1;
    background-color: transparent;
    padding: 15px;
    border: 1px solid #149DE1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    min-width: 140px; }
  .rb-theme-1 svg {
    width: 16px;
    display: inline-block;
    vertical-align: text-bottom; }
    .rb-theme-1 svg.has-margin {
      margin-right: 3px; }
  .rb-theme-1 header {
    padding: 40px 40px 0 40px;
    position: relative;
    z-index: 99;
    /* Left */
    /* Right */ }
    .rb-theme-1 header .title .logo {
      width: 35px;
      display: inline-block;
      padding-right: 5px; }
    .rb-theme-1 header .title h2 {
      display: inline-block;
      vertical-align: super;
      font-size: 20px;
      font-weight: bold;
      color: #149DE1; }
    .rb-theme-1 header nav ul li {
      display: inline-block; }
      .rb-theme-1 header nav ul li a {
        padding: 20px;
        color: #149DE1;
        font-style: 14px; }
  .rb-theme-1 .progress-bar {
    position: absolute;
    width: 0%;
    border-bottom: 2px solid #544d55;
    height: auto;
    bottom: 0;
    left: 0;
    -webkit-transition: width 0.2s linear;
    -moz-transition: width 0.2s linear;
    -ms-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
    transition: width 0.2s linear; }
  .rb-theme-1 .progress-bar.page-process {
    border-color: #03A9F4; }
  .rb-theme-1 main.container {
    margin-top: 50px;
    max-width: 100%; }
  .rb-theme-1 .page__style {
    display: none; }
    .rb-theme-1 .page__style.showing {
      display: block; }
  .rb-theme-1 .spinner {
    width: 40px;
    height: 40px;
    display: none;
    position: fixed;
    left: 50%;
    top: 40%; }
    .rb-theme-1 .spinner.active {
      display: inline-block; }
  .rb-theme-1 .double-bounce1, .rb-theme-1 .double-bounce2 {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #149de1;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -moz-animation: sk-bounce 2.0s infinite ease-in-out;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out; }
  .rb-theme-1 .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s; }
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
  .rb-theme-1 .home {
    margin-bottom: 50px;
    padding: 40px 40px 0 40px;
    /*
      Image Tools
    */
    /*
      Who Am I
    */
    /*
      Option Buttons
    */ }
    .rb-theme-1 .home .fullname h1 {
      display: inline-block;
      color: #4961FF;
      font-size: 17em;
      font-weight: bold;
      line-height: 225px; }
      .rb-theme-1 .home .fullname h1:last-child {
        display: block; }
      .rb-theme-1 .home .fullname h1 span {
        display: inline-block;
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        -ms-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); }
        .rb-theme-1 .home .fullname h1 span:hover {
          -webkit-transform: rotateX(180deg);
          -moz-transform: rotateX(180deg);
          -ms-transform: rotateX(180deg);
          -o-transform: rotateX(180deg);
          transform: rotateX(180deg); }
    .rb-theme-1 .home .image-tools {
      position: relative;
      margin-left: 40px; }
      .rb-theme-1 .home .image-tools img {
        position: absolute;
        /* Pen Drive */
        /* Laptop */
        /* Keyboard*/
        /* Mobile */
        /* Mouse */
        /* Pen */
        /* Tablet */ }
        .rb-theme-1 .home .image-tools img.group-1 {
          height: 15px;
          top: 110px;
          left: -8px; }
        .rb-theme-1 .home .image-tools img.group-2 {
          width: 390px;
          left: 0; }
        .rb-theme-1 .home .image-tools img.group-3 {
          height: 105px;
          top: 330px;
          left: 35px; }
        .rb-theme-1 .home .image-tools img.group-4 {
          height: 75px;
          left: 425px;
          top: 75px; }
        .rb-theme-1 .home .image-tools img.group-5 {
          height: 55px;
          top: 345px;
          left: 420px; }
        .rb-theme-1 .home .image-tools img.group-6 {
          height: 75px;
          left: 380px;
          top: 75px; }
        .rb-theme-1 .home .image-tools img.group-7 {
          height: 90px;
          left: 370px;
          top: 180px; }
    .rb-theme-1 .home .who-am-i {
      margin-top: 100px; }
      .rb-theme-1 .home .who-am-i img {
        width: 45px;
        display: inline-block; }
      .rb-theme-1 .home .who-am-i p {
        display: inline-block;
        color: #149DE1;
        font-size: 42px;
        padding-left: 10px; }
    .rb-theme-1 .home .option-buttons {
      margin-top: 60px; }
      .rb-theme-1 .home .option-buttons a {
        background-color: #473E4C;
        border: none;
        padding: 20px 165px;
        color: #149DE1;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
        font-size: 20px;
        font-weight: lighter; }
  .rb-theme-1 .aboutMe {
    position: relative;
    padding: 40px 40px 0 40px;
    background: url(./assets/images/page/about.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    /* Paragraph */ }
    .rb-theme-1 .aboutMe .about-header {
      margin-top: 40px; }
      .rb-theme-1 .aboutMe .about-header .links {
        display: block;
        margin-top: 20px;
        color: #149DE1; }
        .rb-theme-1 .aboutMe .about-header .links > a {
          display: block;
          font-size: 14px;
          font-weight: normal;
          color: inherit;
          margin-bottom: 10px; }
        .rb-theme-1 .aboutMe .about-header .links ul li {
          display: inline-block; }
          .rb-theme-1 .aboutMe .about-header .links ul li a {
            color: inherit;
            font-weight: normal; }
    .rb-theme-1 .aboutMe p {
      position: absolute;
      bottom: 100px;
      line-height: 25px;
      color: #ffffff;
      text-align: left;
      word-spacing: 1px;
      font-weight: normal;
      width: 60%;
      left: 20%; }
  .rb-theme-1 .projects {
    position: relative;
    padding: 40px 40px 0 40px; }
    .rb-theme-1 .projects .page-header {
      margin-bottom: 40px;
      margin-top: 40px; }
    .rb-theme-1 .projects .project-lists ul li {
      margin-right: 40px;
      margin-bottom: 40px;
      min-height: 230px;
      background-size: cover !important;
      background-position: center !important;
      min-width: 260px;
      position: relative;
      -webkit-box-shadow: 0 0 13px 0px #000000;
      -moz-box-shadow: 0 0 13px 0px #000000;
      -ms-box-shadow: 0 0 13px 0px #000000;
      -o-box-shadow: 0 0 13px 0px #000000;
      box-shadow: 0 0 13px 0px #000000; }
      .rb-theme-1 .projects .project-lists ul li:nth-child(6n) {
        margin-right: 0; }
      .rb-theme-1 .projects .project-lists ul li a {
        display: block;
        position: absolute;
        bottom: 0;
        padding: 15px;
        background-color: #e6eaf3;
        width: 100%;
        -webkit-box-shadow: 0px 0px 3px #252525;
        -moz-box-shadow: 0px 0px 3px #252525;
        -ms-box-shadow: 0px 0px 3px #252525;
        -o-box-shadow: 0px 0px 3px #252525;
        box-shadow: 0px 0px 3px #252525;
        font-size: 13px;
        color: #795548;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .rb-theme-1 .projects .project-lists ul li a:hover {
          height: 100%;
          background-color: rgba(230, 234, 243, 0.64);
          font-size: 16px;
          padding-top: 40%;
          text-align: center;
          text-transform: uppercase; }
  .rb-theme-1 .contact, .rb-theme-1 .hire {
    position: relative;
    padding: 40px 40px 0 40px; }
    .rb-theme-1 .contact .page-header, .rb-theme-1 .hire .page-header {
      margin-bottom: 40px;
      margin-top: 40px; }
    .rb-theme-1 .contact .contact-detail, .rb-theme-1 .contact .hire-detail, .rb-theme-1 .hire .contact-detail, .rb-theme-1 .hire .hire-detail {
      margin-top: 150px; }
      .rb-theme-1 .contact .contact-detail .detail, .rb-theme-1 .contact .hire-detail .detail, .rb-theme-1 .hire .contact-detail .detail, .rb-theme-1 .hire .hire-detail .detail {
        color: #149DE1; }
        .rb-theme-1 .contact .contact-detail .detail h2, .rb-theme-1 .contact .hire-detail .detail h2, .rb-theme-1 .hire .contact-detail .detail h2, .rb-theme-1 .hire .hire-detail .detail h2 {
          font-size: 35px;
          margin-bottom: 10px; }
        .rb-theme-1 .contact .contact-detail .detail a, .rb-theme-1 .contact .hire-detail .detail a, .rb-theme-1 .hire .contact-detail .detail a, .rb-theme-1 .hire .hire-detail .detail a {
          color: #149DE1;
          display: inline-block;
          line-height: 30px;
          margin-right: 15px; }
        .rb-theme-1 .contact .contact-detail .detail p, .rb-theme-1 .contact .hire-detail .detail p, .rb-theme-1 .hire .contact-detail .detail p, .rb-theme-1 .hire .hire-detail .detail p {
          margin-top: 5px; }
    .rb-theme-1 .contact form, .rb-theme-1 .hire form {
      display: block; }
      .rb-theme-1 .contact form textarea, .rb-theme-1 .hire form textarea {
        margin-top: 40px;
        display: block;
        width: 100%; }
      .rb-theme-1 .contact form button, .rb-theme-1 .hire form button {
        display: inline-block;
        margin-top: 40px;
        float: right; }
  .rb-theme-1 .popup {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .rb-theme-1 .popup:hover {
      cursor: pointer;
      opacity: 0.7; }
  .rb-theme-1 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(41, 41, 41, 0.9); }
  .rb-theme-1 .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px; }
  .rb-theme-1 #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 20px 0;
    height: 150px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px; }
  .rb-theme-1 .modal-content, .rb-theme-1 #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s; }
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }
@-moz-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }
@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
  .rb-theme-1 .close {
    position: absolute;
    top: 25px;
    right: 35px;
    color: #f1f1f1;
    font-size: 30px;
    transition: 0.3s;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 37px;
    height: 35px;
    display: inline-table;
    text-align: center; }
  .rb-theme-1 .close:hover,
  .rb-theme-1 .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer; }
  @media only screen and (max-width: 700px) {
    .rb-theme-1 .modal-content {
      width: 100%; } }
  .rb-theme-1 .blog-container {
    margin-top: 20px;
    max-width: 100%;
    background-color: #fff;
    display: block;
    overflow: hidden;
  /* ---------------------------
* 	Form
----------------------------- */
    /* With Label Effect */
    /* ---------------------------
    * 	Form :END
    ----------------------------- */ }
    .rb-theme-1 .blog-container * {
      font-family: "Quicksand", sans-serif;
      font-size: 14px; }
    .rb-theme-1 .blog-container .rb-form *:last-child {
      margin-bottom: 0; }
    .rb-theme-1 .blog-container .rb-form label {
      margin-bottom: 10px;
      display: inline-block; }
    @media screen and (max-width: 450px) and (orientation: portrait) {
      .rb-theme-1 .blog-container .rb-form .col {
        padding: 0 !important;
        margin-bottom: 15px; } }
    .rb-theme-1 .blog-container input,
    .rb-theme-1 .blog-container textarea,
    .rb-theme-1 .blog-container button {
      -webkit-border-radius: 3px;
      border-radius: 3px;
      display: block;
      box-sizing: border-box;
      font-family: inherit;
      font-size: 13px;
      border: none;
      font-weight: 400; }
      .rb-theme-1 .blog-container input:focus,
      .rb-theme-1 .blog-container textarea:focus,
      .rb-theme-1 .blog-container button:focus {
        outline: none; }
    .rb-theme-1 .blog-container select {
      padding: 8px;
      border: none;
      border-radius: 2px;
      font-family: inherit;
      background-color: #fff;
      display: inline-block; }
    .rb-theme-1 .blog-container input, .rb-theme-1 .blog-container textarea, .rb-theme-1 .blog-container .input {
      margin-bottom: 20px; }
    .rb-theme-1 .blog-container input, .rb-theme-1 .blog-container textarea {
      padding: 15px;
      border: 1px solid #dcdcdb;
      width: 100%;
      max-width: 100%;
      -webkit-transition: border 0.3s;
      -moz-transition: border 0.3s;
      -ms-transition: border 0.3s;
      -o-transition: border 0.3s;
      transition: border 0.3s; }
      .rb-theme-1 .blog-container input:focus, .rb-theme-1 .blog-container textarea:focus {
        outline: none;
        border-color: #03A9F4; }
      .rb-theme-1 .blog-container input.error, .rb-theme-1 .blog-container textarea.error {
        border-color: transparent;
        border-bottom-color: red;
        margin-bottom: -1px;
        border-bottom-width: 2px; }
    .rb-theme-1 .blog-container button {
      padding: 8px;
      color: #fff;
      display: inline-block;
      cursor: pointer;
      background-color: #2196F3; }
      .rb-theme-1 .blog-container button i.space-right {
        margin-right: 5px; }
    .rb-theme-1 .blog-container *:last-child {
      margin-bottom: 0px; }
    .rb-theme-1 .blog-container .input {
      position: relative; }
      .rb-theme-1 .blog-container .input label {
        position: absolute;
        top: 30%;
        left: 5%;
        -webkit-transition: ease-out 0.2s;
        -moz-transition: ease-out 0.2s;
        -ms-transition: ease-out 0.2s;
        -o-transition: ease-out 0.2s;
        transition: ease-out 0.2s;
        z-index: 0; }
      .rb-theme-1 .blog-container .input:hover > label, .rb-theme-1 .blog-container .input label.top {
        top: -9px;
        background-color: #fff;
        padding: 0px 5px;
        font-size: 12px;
        font-weight: 500;
        color: #2296f3;
        z-index: 0; }
    .rb-theme-1 .blog-container .blog-divider {
      margin: 20px 0;
      border: 0.5px solid rgba(40, 39, 35, 0.07843);
      width: 100%; }
    .rb-theme-1 .blog-container .search .rb-form {
      position: relative; }
    @media screen and (max-width: 450px) and (orientation: portrait) {
      .rb-theme-1 .blog-container .search {
        width: 100%;
        margin-bottom: 20px; }
        .rb-theme-1 .blog-container .search input {
          min-width: 100% !important; } }
    .rb-theme-1 .blog-container .search input {
      min-width: 350px;
      padding: 8px 34px 8px 15px;
      font-weight: 500;
      color: #676565;
      margin: 0; }
    .rb-theme-1 .blog-container .search span {
      position: absolute;
      padding: 8px;
      background-color: transparent;
      top: 0;
      right: 0;
      height: 100%;
      color: #696969;
      border-left: 0;
      box-sizing: border-box; }
    .rb-theme-1 .blog-container .featured-blog .blog {
      position: relative; }
      .rb-theme-1 .blog-container .featured-blog .blog .margin-tb-20 {
        margin: 20px 0; }
        @media screen and (max-width: 450px) and (orientation: portrait) {
          .rb-theme-1 .blog-container .featured-blog .blog .margin-tb-20-res {
            margin: 20px 0; } }
      @media screen and (max-width: 450px) and (orientation: portrait) {
        .rb-theme-1 .blog-container .featured-blog .blog .margin-b-20-res {
          margin-bottom: 20px; } }
      .rb-theme-1 .blog-container .featured-blog .blog a > .image {
        height: 550px;
        display: block;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important; }
      .rb-theme-1 .blog-container .featured-blog .blog article {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: rgba(72, 72, 72, 0.58);
        color: #fff;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        width: 100%; }
        .rb-theme-1 .blog-container .featured-blog .blog article .buttom {
          position: absolute;
          bottom: 0px; }
        .rb-theme-1 .blog-container .featured-blog .blog article a {
          color: #fff; }
        .rb-theme-1 .blog-container .featured-blog .blog article .title {
          font-size: 35px;
          font-weight: 400;
          color: #fff;
          line-height: 30px; }
          @media screen and (max-width: 450px) and (orientation: portrait) {
            .rb-theme-1 .blog-container .featured-blog .blog article .title {
              font-size: 25px;
              font-weight: 500; } }
        .rb-theme-1 .blog-container .featured-blog .blog article .tag {
          border: 1px solid rgba(38, 41, 35, 0.3);
          border-radius: 15px;
          display: inline-block;
          padding: 4px 10px;
          font-size: 10px;
          font-weight: 600;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          background-color: #F44336; }
        .rb-theme-1 .blog-container .featured-blog .blog article .date {
          font-weight: 600;
          font-size: 12px;
          text-align: center; }
        .rb-theme-1 .blog-container .featured-blog .blog article .blog-review, .rb-theme-1 .blog-container .featured-blog .blog article .blog-detail {
          margin-bottom: 50px;
          font-size: 17px; }
          .rb-theme-1 .blog-container .featured-blog .blog article .blog-review a, .rb-theme-1 .blog-container .featured-blog .blog article .blog-detail a {
            line-height: 21px; }
        .rb-theme-1 .blog-container .featured-blog .blog article .view-comment {
          margin: auto 20px; }
          .rb-theme-1 .blog-container .featured-blog .blog article .view-comment .view, .rb-theme-1 .blog-container .featured-blog .blog article .view-comment .comment {
            font-weight: 600;
            font-size: 12px; }
          .rb-theme-1 .blog-container .featured-blog .blog article .view-comment .comment {
            margin-left: 10px; }
    .rb-theme-1 .blog-container .blog-filter-tools {
      margin-top: 20px;
      background-color: #efeff0;
      padding: 8px 10px;
      min-height: 35px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: block; }
      @media screen and (max-width: 450px) and (orientation: portrait) {
        .rb-theme-1 .blog-container .blog-filter-tools {
          margin: 0;
          padding: 20px;
          background-color: #fff;
          border-bottom: 1px solid #ddd; } }
      .rb-theme-1 .blog-container .blog-filter-tools .rb-date-range-picker {
        margin-left: 10px;
        margin-right: 10px; }
        @media screen and (max-width: 450px) and (orientation: portrait) {
          .rb-theme-1 .blog-container .blog-filter-tools .rb-date-range-picker {
            margin: 0;
            width: 100%; }
            .rb-theme-1 .blog-container .blog-filter-tools .rb-date-range-picker > input {
              min-width: 100% !important; } }
        .rb-theme-1 .blog-container .blog-filter-tools .rb-date-range-picker > input {
          padding: 8px 10px;
          min-width: 210px; }
      @media screen and (max-width: 450px) and (orientation: portrait) {
        .rb-theme-1 .blog-container .blog-filter-tools .rb-toggle-view {
          display: none; } }
      .rb-theme-1 .blog-container .blog-filter-tools .rb-toggle-view ul li {
        display: inline-block;
        list-style-type: none; }
        .rb-theme-1 .blog-container .blog-filter-tools .rb-toggle-view ul li button {
          background-color: #9E9E9E;
          -webkit-border-radius: 0;
          border-radius: 0; }
          .rb-theme-1 .blog-container .blog-filter-tools .rb-toggle-view ul li button.active {
            background-color: #505050; }
          .rb-theme-1 .blog-container .blog-filter-tools .rb-toggle-view ul li button:hover {
            background-color: #505050; }
    .rb-theme-1 .blog-container .blog-container {
      overflow: hidden;
      position: relative;
      min-height: 1650px; }
    .rb-theme-1 .blog-container .blogs {
      float: left;
      width: 70%;
      box-sizing: border-box;
      padding: 20px; }
      .rb-theme-1 .blog-container .blogs .loader {
        position: absolute;
        height: 100%;
        background-color: #fff;
        width: 70%;
        margin: -20px;
        z-index: 9;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px; }
        .rb-theme-1 .blog-container .blogs .loader .preloader {
          position: relative;
          left: 50%;
          top: 30px; }
          .rb-theme-1 .blog-container .blogs .loader .preloader:before {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background: blue;
            content: '';
            position: absolute;
            background: #9b59b6;
            -webkit-animation: preloader_3_before 1.5s infinite ease-in-out;
            animation: preloader_3_before 1.5s infinite ease-in-out; }
          .rb-theme-1 .blog-container .blogs .loader .preloader:after {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background: blue;
            content: '';
            position: absolute;
            background: #2ecc71;
            left: 22px;
            animation: preloader_3_after 1.5s infinite ease-in-out; }
@keyframes preloader_3_before {
  0% {
    transform: translateX(0px) rotate(0deg); }
  50% {
    transform: translateX(50px) scale(1.2) rotate(260deg);
    background: #2ecc71;
    border-radius: 0px; }
  100% {
    transform: translateX(0px) rotate(0deg); } }
@keyframes preloader_3_after {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(-50px) scale(1.2) rotate(-260deg);
    background: #9b59b6;
    border-radius: 0px; }
  100% {
    transform: translateX(0px); } }
      @media screen and (max-width: 450px) and (orientation: portrait) {
        .rb-theme-1 .blog-container .blogs {
          float: none;
          width: 100%; } }
      .rb-theme-1 .blog-container .blogs .margin-tb-20 {
        margin: 20px 0; }
      .rb-theme-1 .blog-container .blogs.grid {
        margin-bottom: -20px;
        padding-right: 0; }
        .rb-theme-1 .blog-container .blogs.grid .col:last-child .blog {
          margin-right: 0; }
        .rb-theme-1 .blog-container .blogs.grid .blog-item {
          flex-grow: 1;
          flex-basis: 30%;
          margin-bottom: 0; }
        .rb-theme-1 .blog-container .blogs.grid .blog {
          display: inline-block;
          background-color: #f1f2f6;
          margin-bottom: 20px;
          margin-right: 20px; }
          .rb-theme-1 .blog-container .blogs.grid .blog article {
            padding: 20px; }
          .rb-theme-1 .blog-container .blogs.grid .blog .blog-review {
            font-size: 13px;
            max-height: 100px;
            overflow: hidden; }
          .rb-theme-1 .blog-container .blogs.grid .blog .blog-image {
            margin: 0;
            float: none; }
          .rb-theme-1 .blog-container .blogs.grid .blog .title {
            font-size: 13px;
            display: block;
            font-weight: 600; }
          .rb-theme-1 .blog-container .blogs.grid .blog .date {
            text-align: left; }
      .rb-theme-1 .blog-container .blogs .blog-item {
        margin-bottom: 20px; }
        @media screen and (max-width: 450px) and (orientation: portrait) {
          .rb-theme-1 .blog-container .blogs .blog-item {
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px; } }
      .rb-theme-1 .blog-container .blogs .blog {
        overflow: hidden; }
        .rb-theme-1 .blog-container .blogs .blog:not(:last-child) {
          margin-bottom: 20px; }
        .rb-theme-1 .blog-container .blogs .blog a:not(.icon):hover, .rb-theme-1 .blog-container .blogs .blog a:not(.icon):hover div {
          color: #2196F3; }
        .rb-theme-1 .blog-container .blogs .blog .blog-image {
          position: relative;
          overflow: hidden;
          float: left;
          max-width: 100%;
          margin-right: 20px; }
          @media screen and (max-width: 450px) and (orientation: portrait) {
            .rb-theme-1 .blog-container .blogs .blog .blog-image {
              margin: 0;
              float: none; } }
          .rb-theme-1 .blog-container .blogs .blog .blog-image img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            border-style: none;
            width: 100%;
            -webkit-transition: ease-out 0.2s;
            -moz-transition: ease-out 0.2s;
            -ms-transition: ease-out 0.2s;
            -o-transition: ease-out 0.2s;
            transition: ease-out 0.2s; }
          .rb-theme-1 .blog-container .blogs .blog .blog-image:hover img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1); }
        .rb-theme-1 .blog-container .blogs .blog .tag {
          color: rgba(80, 80, 80, 0.87);
          border: 1px solid rgba(38, 41, 35, 0.3);
          border-radius: 15px;
          display: inline-block;
          padding: 4px 10px;
          font-size: 10px;
          font-weight: 600;
          letter-spacing: 0.5px;
          text-transform: uppercase; }
        .rb-theme-1 .blog-container .blogs .blog .published-date {
          flex: 100% !important;
          display: inherit;
          padding-top: 15px; }
        .rb-theme-1 .blog-container .blogs .blog .date {
          font-weight: 600;
          font-size: 12px;
          color: #6f6d6d;
          text-align: center; }
        .rb-theme-1 .blog-container .blogs .blog .title {
          font-size: 25px;
          margin-bottom: 20px;
          font-weight: 500;
          color: #393b4a; }
          @media screen and (max-width: 450px) and (orientation: portrait) {
            .rb-theme-1 .blog-container .blogs .blog .title {
              font-size: 20px;
              margin-top: 15px;
              margin-bottom: 0;
              display: block; } }
        .rb-theme-1 .blog-container .blogs .blog .blog-review, .rb-theme-1 .blog-container .blogs .blog .blog-detail {
          margin-bottom: 50px;
          font-size: 17px; }
          .rb-theme-1 .blog-container .blogs .blog .blog-review img, .rb-theme-1 .blog-container .blogs .blog .blog-detail img {
            max-width: 100%; }
          .rb-theme-1 .blog-container .blogs .blog .blog-review a, .rb-theme-1 .blog-container .blogs .blog .blog-detail a {
            line-height: 21px;
            color: #131313; }
        .rb-theme-1 .blog-container .blogs .blog .view-comment {
          color: #777;
          text-align: center; }
          .rb-theme-1 .blog-container .blogs .blog .view-comment .view, .rb-theme-1 .blog-container .blogs .blog .view-comment .comment {
            font-weight: 600;
            font-size: 12px; }
          .rb-theme-1 .blog-container .blogs .blog .view-comment .comment {
            margin-left: 10px; }
        .rb-theme-1 .blog-container .blogs .blog button {
          -webkit-transition: background-color 0.2s linear, color 0.2s linear;
          -moz-transition: background-color 0.2s linear, color 0.2s linear;
          -ms-transition: background-color 0.2s linear, color 0.2s linear;
          -o-transition: background-color 0.2s linear, color 0.2s linear;
          transition: background-color 0.2s linear, color 0.2s linear;
          padding: 8px 25px;
          font-weight: 500;
          background-color: transparent;
          border: 1px solid #adadad;
          color: #525152; }
          @media screen and (max-width: 450px) and (orientation: portrait) {
            .rb-theme-1 .blog-container .blogs .blog button {
              float: right; } }
          .rb-theme-1 .blog-container .blogs .blog button i {
            margin-left: 5px; }
          .rb-theme-1 .blog-container .blogs .blog button:hover {
            background-color: #1d2b2b;
            color: #fff; }
        .rb-theme-1 .blog-container .blogs .blog.feature {
          margin-bottom: 0px; }
          .rb-theme-1 .blog-container .blogs .blog.feature img {
            width: 400px; }
        .rb-theme-1 .blog-container .blogs .blog.single .blog-image {
          width: 100%;
          float: none;
          overflow: hidden;
          margin-bottom: 20px;
          display: block; }
          .rb-theme-1 .blog-container .blogs .blog.single .blog-image:hover img {
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none; }
        .rb-theme-1 .blog-container .blogs .blog.single .title {
          display: block;
          margin: 35px 0 0 0;
          font-weight: 400;
          font-size: 40px; }
          @media screen and (max-width: 450px) and (orientation: portrait) {
            .rb-theme-1 .blog-container .blogs .blog.single .title {
              margin-top: 20px;
              font-size: 25px; } }
        .rb-theme-1 .blog-container .blogs .blog.single .short-detail {
          margin-bottom: 50px; }
          @media screen and (max-width: 450px) and (orientation: portrait) {
            .rb-theme-1 .blog-container .blogs .blog.single .short-detail {
              margin-bottom: 20px;
              padding: 20px 0;
              border-top: 1px solid #ddd;
              border-bottom: 1px solid #ddd; } }
          .rb-theme-1 .blog-container .blogs .blog.single .short-detail .date, .rb-theme-1 .blog-container .blogs .blog.single .short-detail .view-comment {
            text-align: left; }
          .rb-theme-1 .blog-container .blogs .blog.single .short-detail .follow-me {
            font-weight: 600;
            font-size: 12px;
            color: #6f6d6d;
            margin-top: 15px; }
            @media screen and (max-width: 450px) and (orientation: portrait) {
              .rb-theme-1 .blog-container .blogs .blog.single .short-detail .follow-me {
                margin-top: 30px; } }
            .rb-theme-1 .blog-container .blogs .blog.single .short-detail .follow-me ul {
              display: inline-block; }
              .rb-theme-1 .blog-container .blogs .blog.single .short-detail .follow-me ul li {
                display: inline-block; }
            .rb-theme-1 .blog-container .blogs .blog.single .short-detail .follow-me svg {
              width: 20px;
              margin-left: 5px;
              margin-right: 0; }
      .rb-theme-1 .blog-container .blogs .switch-mode p {
        font-weight: 600;
        color: #717171;
        font-size: 12px;
        display: inline-block;
        margin-right: 8px; }
      .rb-theme-1 .blog-container .blogs .tgl {
        display: none; }
        .rb-theme-1 .blog-container .blogs .tgl, .rb-theme-1 .blog-container .blogs .tgl:after, .rb-theme-1 .blog-container .blogs .tgl:before, .rb-theme-1 .blog-container .blogs .tgl *, .rb-theme-1 .blog-container .blogs .tgl *:after, .rb-theme-1 .blog-container .blogs .tgl *:before, .rb-theme-1 .blog-container .blogs .tgl + .tgl-btn {
          box-sizing: border-box; }
          .rb-theme-1 .blog-container .blogs .tgl::selection, .rb-theme-1 .blog-container .blogs .tgl:after::selection, .rb-theme-1 .blog-container .blogs .tgl:before::selection, .rb-theme-1 .blog-container .blogs .tgl *::selection, .rb-theme-1 .blog-container .blogs .tgl *:after::selection, .rb-theme-1 .blog-container .blogs .tgl *:before::selection, .rb-theme-1 .blog-container .blogs .tgl + .tgl-btn::selection {
            background: none; }
        .rb-theme-1 .blog-container .blogs .tgl + .tgl-btn {
          outline: 0;
          display: inline-block;
          width: 4em;
          height: 2em;
          position: relative;
          cursor: pointer;
          user-select: none;
          vertical-align: middle; }
          .rb-theme-1 .blog-container .blogs .tgl + .tgl-btn:after, .rb-theme-1 .blog-container .blogs .tgl + .tgl-btn:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%; }
          .rb-theme-1 .blog-container .blogs .tgl + .tgl-btn:after {
            left: 0; }
          .rb-theme-1 .blog-container .blogs .tgl + .tgl-btn:before {
            display: none; }
        .rb-theme-1 .blog-container .blogs .tgl:checked + .tgl-btn:after {
          left: 50%; }
      .rb-theme-1 .blog-container .blogs .tgl-ios + .tgl-btn {
        background: #fbfbfb;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;
        border: 1px solid #e8eae9; }
        .rb-theme-1 .blog-container .blogs .tgl-ios + .tgl-btn:after {
          border-radius: 2em;
          background: #fbfbfb;
          transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08); }
        .rb-theme-1 .blog-container .blogs .tgl-ios + .tgl-btn:hover:after {
          will-change: padding; }
        .rb-theme-1 .blog-container .blogs .tgl-ios + .tgl-btn:active {
          box-shadow: inset 0 0 0 2em #e8eae9; }
          .rb-theme-1 .blog-container .blogs .tgl-ios + .tgl-btn:active:after {
            padding-right: .8em; }
      .rb-theme-1 .blog-container .blogs .tgl-ios:checked + .tgl-btn {
        background: #86d993; }
        .rb-theme-1 .blog-container .blogs .tgl-ios:checked + .tgl-btn:active {
          box-shadow: none; }
          .rb-theme-1 .blog-container .blogs .tgl-ios:checked + .tgl-btn:active:after {
            margin-left: -.8em; }
      .rb-theme-1 .blog-container .blogs .prev-next-post {
        margin-bottom: 20px; }
        .rb-theme-1 .blog-container .blogs .prev-next-post .prev-post button i {
          margin-right: 5px; }
        .rb-theme-1 .blog-container .blogs .prev-next-post .next-post {
          text-align: right; }
          .rb-theme-1 .blog-container .blogs .prev-next-post .next-post button i {
            margin-left: 5px; }
        .rb-theme-1 .blog-container .blogs .prev-next-post button {
          border: 1px solid #ddd;
          color: #232321;
          padding: 10px 25px;
          background-color: transparent;
          border-radius: 0;
          text-transform: uppercase;
          font-weight: 500;
          position: relative; }
          @media screen and (max-width: 450px) and (orientation: portrait) {
            .rb-theme-1 .blog-container .blogs .prev-next-post button {
              padding: 10px 10px; } }
          .rb-theme-1 .blog-container .blogs .prev-next-post button:hover .tooltip {
            display: block; }
@keyframes showTooltip {
  0%, 100% {
    transform: translateY(0%); }
  50% {
    transform: translateY(15%); } }
@-webkit-keyframes showTooltip {
  0%, 100% {
    transform: translateY(0%); }
  50% {
    transform: translateY(15%); } }
          .rb-theme-1 .blog-container .blogs .prev-next-post button .tooltip {
            position: absolute;
            top: -80%;
            min-width: 420px;
            background-color: #292b27;
            font-size: 11px;
            padding: 5px 7px;
            color: #ffff;
            font-weight: 500;
            text-transform: capitalize;
            width: auto;
            -webkit-box-shadow: 0 0 2px #757575;
            -moz-box-shadow: 0 0 2px #757575;
            -ms-box-shadow: 0 0 2px #757575;
            -o-box-shadow: 0 0 2px #757575;
            box-shadow: 0 0 2px #757575;
            -webkit-animation: showTooltip 0.5s;
            animation: showTooltip 0.5s;
            display: none; }
            @media screen and (max-width: 450px) and (orientation: portrait) {
              .rb-theme-1 .blog-container .blogs .prev-next-post button .tooltip {
                display: none !important; } }
            .rb-theme-1 .blog-container .blogs .prev-next-post button .tooltip.left {
              left: 0;
              text-align: left; }
            .rb-theme-1 .blog-container .blogs .prev-next-post button .tooltip.right {
              right: 0;
              text-align: right; }
          .rb-theme-1 .blog-container .blogs .prev-next-post button:hover {
            color: #fff;
            background-color: #0085a1;
            border-color: #0085a1; }
      .rb-theme-1 .blog-container .blogs.search {
        float: none;
        width: 100%; }
    .rb-theme-1 .blog-container .related-post, .rb-theme-1 .blog-container .post-result {
      overflow: hidden; }
      .rb-theme-1 .blog-container .related-post .not-found, .rb-theme-1 .blog-container .post-result .not-found {
        width: 80%;
        border: 1px solid #2c3e50;
        margin: 40px auto;
        -webkit-border-radius: 3px;
        border-radius: 3px; }
        .rb-theme-1 .blog-container .related-post .not-found .sign, .rb-theme-1 .blog-container .related-post .not-found p, .rb-theme-1 .blog-container .post-result .not-found .sign, .rb-theme-1 .blog-container .post-result .not-found p {
          display: inline-block; }
        .rb-theme-1 .blog-container .related-post .not-found .sign, .rb-theme-1 .blog-container .post-result .not-found .sign {
          background-color: #2c3e50;
          color: #fff;
          padding: 15px;
          font-size: 20px;
          margin-right: 10px; }
        .rb-theme-1 .blog-container .related-post .not-found p, .rb-theme-1 .blog-container .post-result .not-found p {
          font-weight: 500;
          color: #2c3e50; }
      .rb-theme-1 .blog-container .related-post .header, .rb-theme-1 .blog-container .post-result .header {
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 500;
        color: #0abde3; }
        .rb-theme-1 .blog-container .related-post .header.search-header, .rb-theme-1 .blog-container .post-result .header.search-header {
          color: #545454; }
      .rb-theme-1 .blog-container .related-post .grid, .rb-theme-1 .blog-container .post-result .grid {
        padding: 0;
        width: 100%; }
        .rb-theme-1 .blog-container .related-post .grid .blog, .rb-theme-1 .blog-container .post-result .grid .blog {
          max-width: 300px;
          width: 300px;
          display: inline-block;
          background-color: #f1f2f6;
          margin-bottom: 20px;
          margin-right: 20px; }
          @media screen and (max-width: 450px) and (orientation: portrait) {
            .rb-theme-1 .blog-container .related-post .grid .blog, .rb-theme-1 .blog-container .post-result .grid .blog {
              max-width: 100%;
              width: 100%; } }
          @media screen and (max-width: 450px) and (orientation: portrait) {
            .rb-theme-1 .blog-container .related-post .grid .blog .title, .rb-theme-1 .blog-container .post-result .grid .blog .title {
              margin-top: 0 !important;
              margin-bottom: 15px;
              font-size: 16px; } }
    .rb-theme-1 .blog-container .pagination {
      width: 100%;
      display: block;
      padding: 10px 0;
      text-align: right;
      border-top: 1px solid #ddd; }
      @media screen and (max-width: 450px) and (orientation: portrait) {
        .rb-theme-1 .blog-container .pagination {
          padding: 0;
          border: none; }
          .rb-theme-1 .blog-container .pagination ul li:first-child, .rb-theme-1 .blog-container .pagination ul li:last-child {
            display: block; }
            .rb-theme-1 .blog-container .pagination ul li:first-child a, .rb-theme-1 .blog-container .pagination ul li:last-child a {
              -webkit-border-radius: 0 !important;
              -moz-border-radius: 0 !important;
              border-radius: 0 !important;
              padding: 8px !important; }
          .rb-theme-1 .blog-container .pagination ul li:first-child {
            margin-bottom: 15px; }
          .rb-theme-1 .blog-container .pagination ul li:last-child {
            margin-top: 15px; } }
      .rb-theme-1 .blog-container .pagination ul li {
        list-style-type: none;
        display: inline-block; }
        .rb-theme-1 .blog-container .pagination ul li:not(:last-child) {
          margin-right: 3px; }
        .rb-theme-1 .blog-container .pagination ul li a {
          color: #7b7b7b;
          display: block;
          font-weight: 500;
          padding: 2px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px solid #ccc;
          text-transform: capitalize;
          font-size: 13px;
          text-align: center; }
          .rb-theme-1 .blog-container .pagination ul li a:not(.prev):not(.next) {
            width: 25px;
            height: 25px; }
            @media screen and (max-width: 450px) and (orientation: portrait) {
              .rb-theme-1 .blog-container .pagination ul li a:not(.prev):not(.next) {
                width: 30px;
                height: 30px;
                padding-top: 5px; } }
          .rb-theme-1 .blog-container .pagination ul li a.prev, .rb-theme-1 .blog-container .pagination ul li a.next {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 1px; }
          .rb-theme-1 .blog-container .pagination ul li a.active, .rb-theme-1 .blog-container .pagination ul li a:hover {
            background-color: #666d6e;
            border-color: #666d6e;
            color: #fff; }
    .rb-theme-1 .blog-container code {
      height: 100%;
      overflow: auto;
      display: block; }
      .rb-theme-1 .blog-container code span {
        font-size: 18px;
        line-height: 30px; }
    .rb-theme-1 .blog-container aside {
      float: right;
      width: 30%;
      box-sizing: border-box;
      padding: 20px;
      position: absolute;
      right: 0;
      overflow: auto; }
      @media screen and (max-width: 450px) and (orientation: portrait) {
        .rb-theme-1 .blog-container aside {
          float: none;
          width: 100%;
          position: static; } }
      .rb-theme-1 .blog-container aside .header {
        font-size: 11px;
        text-align: left;
        color: #607d8bdb;
        margin-bottom: 20px;
        font-weight: 500;
        text-transform: uppercase; }
      .rb-theme-1 .blog-container aside .most-viewed {
        display: block;
        overflow: hidden;
        width: 100%;
        margin-bottom: 40px; }
        .rb-theme-1 .blog-container aside .most-viewed .blogs {
          width: 100%;
          padding: 0px; }
          .rb-theme-1 .blog-container aside .most-viewed .blogs .blog {
            background-color: #f7f7f7;
            padding: 10px; }
            .rb-theme-1 .blog-container aside .most-viewed .blogs .blog .blog-image img {
              width: 160px; }
              @media screen and (max-width: 450px) and (orientation: portrait) {
                .rb-theme-1 .blog-container aside .most-viewed .blogs .blog .blog-image img {
                  width: 100%; } }
            .rb-theme-1 .blog-container aside .most-viewed .blogs .blog .title {
              font-size: 14px; }
      .rb-theme-1 .blog-container aside .categories, .rb-theme-1 .blog-container aside .archives {
        margin-top: 20px;
        margin-bottom: 40px; }
        .rb-theme-1 .blog-container aside .categories ul li, .rb-theme-1 .blog-container aside .archives ul li {
          list-style-type: none;
          display: block; }
          .rb-theme-1 .blog-container aside .categories ul li a, .rb-theme-1 .blog-container aside .archives ul li a {
            color: rgba(80, 80, 80, 0.87);
            padding: 10px 0;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            display: inline-block;
            border-bottom: 1px solid #e8e8e8dd;
            min-width: 200px;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s; }
            .rb-theme-1 .blog-container aside .categories ul li a small, .rb-theme-1 .blog-container aside .archives ul li a small {
              font-size: 9px;
              padding-left: 7px; }
            .rb-theme-1 .blog-container aside .categories ul li a:hover, .rb-theme-1 .blog-container aside .archives ul li a:hover {
              color: #000;
              border-color: #ccc; }
      .rb-theme-1 .blog-container aside .tags {
        margin-top: 20px;
        margin-bottom: 40px; }
        .rb-theme-1 .blog-container aside .tags ul li {
          list-style-type: none;
          border: 1px solid rgba(38, 41, 35, 0.3);
          border-radius: 15px;
          display: inline-block;
          margin-bottom: 10px; }
          .rb-theme-1 .blog-container aside .tags ul li a {
            color: rgba(80, 80, 80, 0.87);
            padding: 4px 10px;
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            display: block; }
            .rb-theme-1 .blog-container aside .tags ul li a:hover {
              color: #2196F3; }
      .rb-theme-1 .blog-container aside .get-notified {
        margin-top: 20px; }
        .rb-theme-1 .blog-container aside .get-notified h2 {
          font-size: 21px;
          color: #F44336; }
        .rb-theme-1 .blog-container aside .get-notified p {
          margin: 30px 0; }
        .rb-theme-1 .blog-container aside .get-notified .subscribe-btn {
          text-align: center;
          margin-bottom: 20px; }
          .rb-theme-1 .blog-container aside .get-notified .subscribe-btn button {
            background-color: #096ab6;
            padding: 6px 20px;
            font-weight: 500; }
  .rb-theme-1 footer {
    padding: 15px;
    text-align: center;
    font-size: 13px;
    color: #149DE1;
    height: 45px;
    width: 100%; }

@supports not (flex-wrap: wrap) {
  display: inline-block; }

/*# sourceMappingURL=app.css.map */
