aside {
  float: right;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  overflow: auto; }
  @media screen and (max-width: 450px) and (orientation: portrait) {
    aside {
      float: none;
      width: 100%;
      position: static; } }
  aside .header {
    font-size: 11px;
    text-align: left;
    color: #607d8bdb;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase; }
  aside .most-viewed {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-bottom: 40px; }
    aside .most-viewed .blogs {
      width: 100%;
      padding: 0px; }
      aside .most-viewed .blogs .blog {
        background-color: #f7f7f7;
        padding: 10px; }
        aside .most-viewed .blogs .blog .blog-image img {
          width: 160px; }
          @media screen and (max-width: 450px) and (orientation: portrait) {
            aside .most-viewed .blogs .blog .blog-image img {
              width: 100%; } }
        aside .most-viewed .blogs .blog .title {
          font-size: 14px; }
  aside .categories, aside .archives {
    margin-top: 20px;
    margin-bottom: 40px; }
    aside .categories ul li, aside .archives ul li {
      list-style-type: none;
      display: block; }
      aside .categories ul li a, aside .archives ul li a {
        color: rgba(80, 80, 80, 0.87);
        padding: 10px 0;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        display: inline-block;
        border-bottom: 1px solid #e8e8e8dd;
        min-width: 200px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }
        aside .categories ul li a small, aside .archives ul li a small {
          font-size: 9px;
          padding-left: 7px; }
        aside .categories ul li a:hover, aside .archives ul li a:hover {
          color: #000;
          border-color: #ccc; }
  aside .tags {
    margin-top: 20px;
    margin-bottom: 40px; }
    aside .tags ul li {
      list-style-type: none;
      border: 1px solid rgba(38, 41, 35, 0.3);
      border-radius: 15px;
      display: inline-block;
      margin-bottom: 10px; }
      aside .tags ul li a {
        color: rgba(80, 80, 80, 0.87);
        padding: 4px 10px;
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        display: block; }
        aside .tags ul li a:hover {
          color: #2196F3; }
  aside .get-notified {
    margin-top: 20px; }
    aside .get-notified h2 {
      font-size: 21px;
      text-align: center;
      color: #F44336; }
    aside .get-notified p {
      margin: 30px 0; }
    aside .get-notified .subscribe-btn {
      text-align: center;
      margin-bottom: 20px; }
      aside .get-notified .subscribe-btn button {
        background-color: #096ab6;
        padding: 6px 20px;
        font-weight: 500; }

/*# sourceMappingURL=rightSidebar.css.map */
