header {
  padding: $padding;
  position: relative;
  z-index: 99;

  /* Left */
  .title {
    .logo {
      width: 35px;
      display: inline-block;
      padding-right: 5px;
    }

    h2 {
      display: inline-block;
      vertical-align: super;
      font: {
        size: 20px;
        weight: bold;
      }
      color: $color;
    }
  }


  /* Right */
  nav {
    ul {
      li {
        display: inline-block;
        a {
          padding: 20px;
          color: $color;
          font-style: 14px;
        }
      }
    }
  }
}

/* Progress Bar */
.progress-bar {
  position: absolute;
  width: 0%;
  border-bottom: 2px solid #544d55;
  height: auto;
  bottom: 0;
  left: 0;
  @include transition(width 0.2s linear)
}
.progress-bar.page-process {
  border-color: #03A9F4;
}

