.home {
  margin-bottom: 50px;
  padding: $padding;

  .fullname {
    h1 {
      display: inline-block;
      color: #4961FF;
      font: {
        size: 17em;
        weight: bold;
      }
      line-height: 225px;

      &:last-child {
        display: block;
      }

      span {
        display: inline-block;
        @include transition(transform 0.3s);
        @include transform(translateY(0px));

        &:hover {
          @include transform(rotateX(180deg));
        }
      }
    }
  }

  /*
    Image Tools
  */
  .image-tools {
    position: relative;
    margin-left: 40px;

    img {
      position: absolute;

      /* Pen Drive */
      &.group-1 {
        height: 15px;
        top: 110px;
        left: -8px;
      }

      /* Laptop */
      &.group-2 {
        width: 390px;
        left: 0;
      }

      /* Keyboard*/
      &.group-3 {
        height: 105px;
        top: 330px;
        left: 35px;
      }

      /* Mobile */
      &.group-4 {
        height: 75px;
        left: 425px;
        top: 75px;
      }

      /* Mouse */
      &.group-5 {
        height: 55px;
        top: 345px;
        left: 420px;
      }

      /* Pen */
      &.group-6 {
        height: 75px;
        left: 380px;
        top: 75px;
      }

      /* Tablet */
      &.group-7 {
        height: 90px;
        left: 370px;
        top: 180px;
      }
    }
  }

  /*
    Who Am I
  */
  .who-am-i {
    margin-top: 100px;

    img {
      width:45px;
      display: inline-block;
    }

    p {
      display: inline-block;
      color: #149DE1;
      font-size: 42px;
      padding-left: 10px;
    }
  }

  /*
    Option Buttons
  */
  .option-buttons{
    margin-top: 60px;
    a {
      background-color: #473E4C;
      border: none;
      padding: 20px 165px;
      color: #149DE1;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      font: {
        size: 20px;
        weight: lighter;
      }
    }
  }
}