aside {

  // Mobile Devices
  @media screen and (max-width: 450px) and (orientation: portrait) {
    float: none;
    width: 100%;
    position: static;
  }

  float: right;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  //border-left: 1px solid #ccc;
  overflow: auto;

  .header {
    font-size: 11px;
    text-align: left;
    color: #607d8bdb;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .most-viewed {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-bottom: 40px;

    .blogs {
      width: 100%;
      padding: 0px;

      .blog {
        background-color: #f7f7f7;
        padding: 10px;

        .blog-image {
          img {
            width: 160px;

            @media screen and (max-width: 450px) and (orientation: portrait) {
              width: 100%;
            }
          }
        }

        .title {
          font-size: 14px;
        }
      }
    }
  }
  // Most Viewed:END

  // Tags
  .categories, .archives {
    margin-top: 20px;
    margin-bottom: 40px;
    ul {
      li {
        list-style-type: none;
        display: block;

        a {
          color: rgba(80, 80, 80, 0.87);
          padding: 10px 0;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: inline-block;
          border-bottom: 1px solid #e8e8e8dd;
          min-width: 200px;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;

          small {
            font-size: 9px;
            padding-left: 7px;
          }

          &:hover {
            color: #000;
            border-color: #ccc;
          }
        }
      }
    }
  }

  // Tags End

  // Tags
  .tags {
    margin-top: 20px;
    margin-bottom: 40px;
    ul {
      li {
        list-style-type: none;
        border: 1px solid rgba(38, 41, 35, 0.3);
        border-radius: 15px;
        display: inline-block;
        margin-bottom: 10px;

        a {
          color: rgba(80, 80, 80, 0.87);
          padding: 4px 10px;
          font-size: 10px;
          font-weight: 600;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: block;

          &:hover {
            color: #2196F3;
          }
        }
      }
    }
  }

  // Tags End

  // Get Notified
  .get-notified {
    //padding: 20px;
    margin-top: 20px;

    h2 {
      font-size: 21px;
      text-align: center;
      color: #F44336;
    }
    p {
      margin: 30px 0;
    }

    .subscribe-btn {
      text-align: center;
      margin-bottom: 20px;

      button {
        background-color: #096ab6;
        padding: 6px 20px;
        font-weight: 500;
      }
    }

  }
  // Get Notified END
}